<nav class="navbar navbar-expand navbar-dark bg-dark px-3">
  <a class="navbar-brand text-white" routerLink="/">Angular Exam</a>
  <div class="navbar-nav">
    <a class="nav-link" routerLink="/trainers" routerLinkActive="active">Trainers</a>
    <a class="nav-link" routerLink="/classes" routerLinkActive="active">Classes</a>
    <a class="nav-link" routerLink="/assignments" routerLinkActive="active">Assignments</a>
  </div>
</nav>

<div class="container mt-4">
  <router-outlet></router-outlet>
</div>
